.eslintrc.js
node_modules/
pnpm-lock.yaml
dexvert.code-workspace
sandbox/
test/sample/
test/wip/
music/midiFont/roland/*.sf2
.vscode
log/
__pycache__
tensor/garbage
transform/trimGarbage/trimGarbage
transform/stripGarbage/stripGarbage
dexmagic/dexmagic
amiga/FS-UAE/
wine/env.tar
wine/reaConverter/
wine/IsoBuster/
util/chatsubo.filter
util/download.sh
amiga/*.hdf
qemu/win2k/hd.img
qemu/win2k/wip/
qemu/win2k/in/
qemu/win2k/out/
qemu/win2k/test/