# Project and dot files
dexvert.code-workspace
.eslintrc.js
.vscode
pnpm-lock.yaml
node_modules/

# Too big
music/midiFont/roland/*.sf2
sandbox/
test/sample/
tensor/garbage/new/
tensor/garbage/train/

# Compiled binaries
transform/trimGarbage/trimGarbage
transform/stripGarbage/stripGarbage

# Dynamic
log/

# Contains commercial software
amiga/fs-uae-env*
amiga/*.hdf
qemu/win*/*.img
qemu/win*/data/*.iso
qemu/amiga*/*.img
qemu/amiga*/data/*.iso
qemu/amiga*/data/*.bsdiff
