.eslintrc.js
node_modules/
pnpm-lock.yaml
dexvert.code-workspace
sandbox/
test/sample/
test/wip/
music/midiFont/roland/*.sf2
.vscode
scribus/
log/
util/badPNGs
util/goodPNGs
__pycache__
tensor/garbage
transform/trimGarbage/trimGarbage
transform/stripGarbage/stripGarbage
dexmagic/dexmagic
