# HD images, ISOs and other commercial software should not be checked in
win*/*.img
win*/data/*.iso

win2k/data/app/CorelDraw5.7z
win2k/data/app/HijaakExpress.iso
win2k/data/app/Office97Standard.zip
win2k/data/app/PageStream5.0.5.8-windows.zip
win2k/data/app/PaperPort Deluxe 6.1 (Windows)(1999).iso

winxp/data/app/AdobeIllustrator8.0.1.iso
winxp/data/app/DirectorMX2004.exe
winxp/data/app/fmerlin.exe
winxp/data/app/TotalCADConverterX.exe
winxp/data/app/Xtras/
winxp/data/app/EXE2SWFExtractor.exe
winxp/data/app/FG523WinFull-4868.exe
winxp/data/app/Corel-PhotoPaint8-Program-Win95.iso
winxp/data/app/Canvas14/
winxp/data/app/MGX_GS_APPS.ISO

amiga*/*.img
amiga*/data/*.iso
amiga*/data/*.img
amiga*/data/*.bsdiff

macos*/*.img
macos*/data/*.rom
macos*/data/*.iso

gentoo*/*.img
gentoo*/data/*.iso
